.swiper-slide {
  margin-top: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  width: 70px;
  height: 70px;
}

.swiper-container{
  position: relative;
}

.swiper-button-prev {
  left: -100px;
}

.swiper-button-next {
  right: -100px;
}